.root {
    -fx-font-size: 9pt;
    -fx-font-family: "Courier New";
    -fx-background: sky-blue;
    -fx-base: rgb(250, 250, 250);
    -fx-focus-color: derive( sky-blue , 90% );
    sky-blue: rgb(25, 155, 195);
    brighter-sky-blue: derive( sky-blue , 50% );
}


.button {
    -fx-background-color: rgb(230, 230, 230);
    -fx-background-radius: 10;
    -fx-text-fill: #3d3451;
    -fx-border-color: rgba(255, 255, 255, .80);
    -fx-border-radius: 10;
    -fx-padding: 2 2 2 2;
}

.button:hover {
    -fx-background-color: rgb(220, 220, 220);
}

.button:armed {
    -fx-background-color: rgb(200, 200, 200);
}
